
input[type="checkbox"]:checked + span {
    color: gray;
    text-decoration: line-through;
}

li:first-child {
    border: 2px solid #0fd662;
}

li:last-child {
    border: 2px solid #a72727;
}

li:nth-child(5) {
    background-color: blue;
}

.btn-demo {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition:   background-color 250ms,
                transform 250ms;
            


}

.btn-demo:hover {
    background-color: hsl(222, 8%, 25%);
    transform:translateY(-2px);
}

.card {
   position: relative;
    margin-top: 15px;
    border: solid 1px rgb(214, 208, 208);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,.06);
    

    transition:     transform 300ms ease-in-out,
                    border-color 300ms ease-in-out,
                    box-shadow 300ms ease-in-out;
                    
    
}

.card:hover {
    
    border-color: #b5b8bd;
    transform: translateY(-10px); 
    box-shadow: 0 14px 28px rgba(0,0,0,.12); 
}

.badge {
    position: absolute;
    top: 10px;
    right:10px;
    background: tomato;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}



