input[type="checkbox"]:checked + span {
    color: gray;
    text-decoration: line-through;
}

li:first-child {
    border: 2px solid #0fd662;
}

li:last-child {
    border: 2px solid #a72727;
}

li:nth-child(5) {
    background-color: blue;
}

.btn-demo {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition:   background-color 250ms,
                transform 250ms;
            


}

.btn-demo:hover {
    background-color: hsl(222, 8%, 25%);
    transform:translateY(-2px);
}


